<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>CSV_JSON</title>
</head>

<body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="#">CSV_JSON</a>
        <!--modal trigger button-->
        <!--<button type="button" style="margin-left:81%;" class="btn btn-primary" data-toggle="modal" data-target="#fileModal">
                Manage "files"!
        </button>-->
    </nav>

    {% if messages %}
      {% for message in messages %}
        <script>
        var msg = $('<textarea />').html("{{message}}").text();
        console.log(msg)
        alert(msg)
        </script>
      {% endfor %}
    {% endif %}

    <form action="/index/" method="POST">
    {% csrf_token %}
        <main role="main" class="container">
            <div class="bg-secondary p-4 rounded-lg text-white">
                <h1>CSV to DB</h1>
                <p class="lead">Parse all the csv files in the "files" folder at the root directory and import the data into a MySQL database.</p>
                <button class="btn btn-lg btn-primary" href="" role="button">Parse and save &raquo;</button>
            </div>
        </main>
    </form>

    <br><br>

    <main role="main" class="container">
            <div class="bg-info p-4 rounded-lg text-white">
                <h1>DB to JSON</h1>
                <p class="lead">Export all the data from MySQL database and get it in JSON format through the Django REST API web service.</p>
                <a class="btn btn-lg btn-primary" href="/json/" role="button">JSON &raquo;</a>
            </div>
    </main>

    <!-- Modal -->
    <div class="modal fade" id="fileModal" tabindex="-1" role="dialog" aria-labelledby="fileModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>